@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login | MG Assets Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/image/favicon.ico" type="image/x-icon">
    <link href="~/Public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Public/css/custom-css/Layout/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Public/css/custom-css/Layout/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="login-body">
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-8">
                    <div class="card rounded-3 text-black login-card">
                        <div class="row g-0">
                            <div class="col-lg-5 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 d-block mx-auto">
                                    <img src="~/Public/image/logo.png" alt="Logo" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-body p-md-5 mx-md-4">
                                    <form method="post">
                                        <h5 class="login">Please login to your account</h5>
                                        <label class="form-label" for="LoginName">Login Name</label>
                                        <div class="form-outline input-group mb-4">
                                            <span class="input-group-text"><i class='bx bxs-user'></i></span>
                                            <input type="text" id="LoginName" name="LoginName" class="form-control" placeholder="Enter Login Name" maxlength="20"/>
                                        </div>
                                        <label class="form-label" for="Password">Password</label>
                                        <div class="form-outline input-group mb-4">
                                            <span class="input-group-text"><i class='bx bxs-lock-alt'></i></span>
                                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter Password" maxlength="20" />
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-start">
                                                <button type="submit" asp-controller="Login" asp-action="UserLogin" class="btn btn-primary btn-block fa-lg btn-orange" type="button"><i class='bx bx-log-in pe-2'></i>Log in</button>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button type="submit" asp-controller="Login" asp-action="AdLogin" class="btn btn-primary btn-block fa-lg btn-orange"><i class='bx bx-log-in pe-2'></i>Login with AD</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Public/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/Public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Public/vendor/jquery/jquery.validate.min.js"></script>
</body>
</html>
