@inject ManagementPortalApp.Models.Session.Sessions Sessions_
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopCss {
    <link href="~/assets/css/custom-css/Settings/tagsmaster.css" rel="stylesheet" />


}

@{

    System.Security.Claims.ClaimsPrincipal claimsPrincipal = Context.User;
    var UniqueKey = (from c in claimsPrincipal.Claims where c.Type == "Guid" select c.Value).FirstOrDefault();
    var UserID = (from c in claimsPrincipal.Claims where c.Type == "UserID" select c.Value).FirstOrDefault();

    ManagementPortalApp.Models.Session.SessionItems sessionItems = Sessions_.GetSession(UniqueKey, UserID);

    List<ManagementPortalApp.Models.Authentication.RolesMapping> rolesMapping = sessionItems.rolesMapping;

    var FilterForm = rolesMapping.FirstOrDefault(x => x.FormName == Context.Request.RouteValues["controller"] + "/" + Context.Request.RouteValues["action"]);
    bool _allowinsert = FilterForm.AllowInsert;
    bool _allowupdate = FilterForm.AllowUpdate;
    bool _allowdelete = FilterForm.AllowDelete;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">News Tags</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="d-none">
                        <input type="hidden" value="" id="TagID" name="TagID" />
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <label>Tags Name</label>
                        <input type="text" class="form-control" id="TagName" name="TagName" required>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <label>Tag Type</label>
                        <select class="form-select" name="TagTypeID" id="TagTypeID" required>
                            <option hidden="true">Select Tag Type</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 mt-auto mb-2">
                        @if (_allowinsert)
                        {
                            <button class="btn btn-primary btn-sm savebutton" type="button" id="SaveBtn"><i class='feather-save pe-2'></i>Save</button>
                        }
                        @if (_allowupdate)
                        {
                            <button class="btn btn-primary btn-sm d-none updatebutton" type="button" id="UpdateBtn"><i class='feather-refresh-cw pe-2'></i>Update</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="RolesMasterDiv">
                    <div class="div-loader">
                        <div class="loader-wrapper d-none">
                            <span class="loader"></span>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" id="NewsTags-master">
                                <thead>
                                    <tr>
                                        <th>Tags Name</th>
                                        <th>Tags Type</th>
                                        @if (_allowupdate)
                                        {
                                            <th>Edit</th>
                                        }
                                        @if (_allowdelete)
                                        {
                                            <th>Delete</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section BottomJS {
    <script src="~/assets/js/custom-js/NewTagsMaster.js"></script>
}