@inject ManagementPortalApp.Models.Session.Sessions Sessions_
@{
	ViewBag.Title = "Create Single News";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section TopCss {
	<link href="~/assets/css/form1-style.css" rel="stylesheet" />
	<link href="~/assets/vendors/summernote/summernote-lite.min.css" rel="stylesheet" />
	<link href="~/assets/vendors/select2/select2-theme.min.css" rel="stylesheet" />
	<link href="~/assets/vendors/select2/select2.min.css" rel="stylesheet" />
}
@{
	System.Security.Claims.ClaimsPrincipal claimsPrincipal = Context.User;
	var UniqueKey = (from c in claimsPrincipal.Claims where c.Type == "Guid" select c.Value).FirstOrDefault();
	var UserID = (from c in claimsPrincipal.Claims where c.Type == "UserID" select c.Value).FirstOrDefault();
	ManagementPortalApp.Models.Session.SessionItems sessionItems = Sessions_.GetSession(UniqueKey, UserID);
	List<ManagementPortalApp.Models.Authentication.RolesMapping> rolesMapping = sessionItems.rolesMapping;
	var FilterForm = rolesMapping.FirstOrDefault(x => x.FormName == Context.Request.RouteValues["controller"] + "/" + Context.Request.RouteValues["action"]);
	bool _allowinsert = FilterForm.AllowInsert;
	bool _allowupdate = FilterForm.AllowUpdate;
	bool _allowdelete = FilterForm.AllowDelete;
}
<div class="creations-single">
	<div class="row">
		<div class="col-lg-8 col-12">
			<div class="left-side">
				<div class="row">
					<input type="hidden" id="newsid" />
					<div class="col-12">
						<div class="form-group">
							<label for="addtitle" class="add-title">Add Title</label>
							<input type="text" class="form-control data" id="addtitle" formid="1" placeholder="Enter title" required>
						</div>
					</div>
					<div class="col-12 my-3">
						<div class="form-group">
							<label for="adddescription" class="add-title">Add Description</label>
							<textarea type="text" class="form-control data" id="adddescription" formid="2" required placeholder="Enter a short description summary"></textarea>
						</div>
					</div>
					<div class="col-12">

						<form id="newscheckratio" class="d-none">
							<h2>Picture Aspect Ratio</h2>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="mobile" value="mobile" checked>
								<label class="form-check-label" for="mobile">Mobile Aspect</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="desktop" value="desktop" checked>
								<label class="form-check-label" for="desktop">Desktop Aspect</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="socialMedia" value="socialMedia" checked>
								<label class="form-check-label" for="socialMedia">Social Media Aspect</label>
							</div>
						</form>
						<div class="drop-zone text-center mx-auto">
							<span class="drop-zone__prompt">
								<img src="~/assets/images/upload.png" id="imagepath" class="img-fluid w-25"> <br>
								Drop file here or click to upload <br>
								<small>(.png, .jpg, .gif, .webp )</small>
							</span>
							<input type="file" name="myFile" class="drop-zone__input">

						</div>
					</div>


					<div class="col-12">
						<div class="form-group ">
							<label for="addTextImageGenerate" class="add-title">Text To Image Generator</label>
							<div class="input-group mt-2">
								<input type="text" class="form-control mt-0" id="textPrompt" placeholder="Enter Text To Image Generate">
								<button class="btn btn-outline-secondary" type="button" id="btngeneratetexttoimage">Generate Image</button>
							</div>
						</div>
					</div>



					<div class="col-12 my-3">
						<div class="aitextimagegenerator">
							<div class="form-group">
								<label for="addContent" class="add-title">Add Content</label>
								<textarea id="summernote" class="form-control data" formid="3" placeholder="Add Content"></textarea>
							</div>
						</div>
						
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="addAiNews" class="add-title mb-1">Create AI News</label>
							<div class="ainews-input  my-auto">
								<textarea type="text" rows="1" class="tex-input my-auto" id="addAiNews" required> </textarea>
								&nbsp;    &nbsp;
								<div class="action-btns  my-auto">
									<button class="btn rounded-circle btn-white-circle btn-sm sm-auto">
										<i class="feather-paperclip fs-5 m-auto"></i>
									</button>
									&nbsp;   &nbsp;
									<button type="button" id="generate-news-ai" class="btn rounded-circle btn-main-circle">
										<i class="feather-send m-auto"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 my-3">
						<ul class="nav nav-tabs nav-tabs-custom-style" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#AddGraph" id="addNew-Graph">Add Graph</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#Addtable" id="AddNewtable">Add Table</button>
							</li>
						</ul>
						<div class="tab-content">


							<div class="tab-pane fade active show" id="AddGraph">
								<div class="add-box">
									<div class="row h-100">
										<div class="col-md-4 col-12 m-auto">
											<button class="btn btn-lg btn-main m-auto w-100" id="GraphId">Add Graph Manually</button>
											<br />
											<input type="file" class="btn btn-lg btn-success m-auto w-100" placeholder="Make Graph For CSV" id="GraphIdforcsv" />
										</div>
									</div>
								</div>
								<form id="graphForm" class="d-none">
									<div class="row">
										<div class="col-12">
											<h3 class="mb-0 mt-2">Chart Settings</h3>
										</div>
										

										<div class="col-md-4 col-12 form-group">
											<label for="ChartType">Chart Type</label>
											<select class="form-select" id="ChartType" name="typeid">
											</select>
										</div>
										<div class="col-md-4 col-12 form-group">
											<label for="graphTitle">Title</label>
											<input type="text" class="form-control" id="graphTitle" placeholder="Chart title">
										</div>
										<div class="col-md-4 col-12 form-group">
											<label for="graphSubTitle">Sub Title</label>
											<input type="text" class="form-control" id="graphSubTitle" placeholder="Chart subtitle">
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<h3 class="mb-0 mt-1">X-axis Label</h3>
										</div>
										<div class="col-md-4 col-12 form-group">
											<label for="LabelOrientation">Enter Comma Sperate Label</label>
											<input type="text" class="form-control graphlabel" id="LabelOrientation" placeholder="X-axis label">
										</div>
									</div>
									<div id="rowsContainer">
										<div class="row">
											<div class="col-md-4 col-12 form-group">
												<label for="SeriesName">Series Name</label>
												<input type="text" class="form-control series-name" placeholder="Series Name">
											</div>
											<div class="col-md-4 col-12 form-group">
												<label for="ChartValue">Enter Comma Sperate Chart Values</label>
												<input type="text" class="form-control series-values" placeholder="Comma-separated values (e.g., 10,20,30)">
											</div>
											<div class="col-md-3 col-12 form-group">
												<label for="SeriesColor">Series Color</label>
												<input type="text" class="form-control series-color" placeholder="Color (e.g., red)">
											</div>
											<div class="col-md-1 col-12 mt-auto text-end">
												<button class="btn btn-sm add-button ms-auto" type="button" id="addSeries">
													<i class="feather-plus-square fs-2"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 col-12 text-center">
											<div class="mx-auto">
												<button type="button" class="btn btn-main mt-3 mx-auto" id="GenerateChart">Generate Chart</button>
											</div>
										</div>
									</div>
								</form>
								<div class="chartone d-none">
									<figure class="highcharts-figure">
										<div id="chartContainer" formid="6"></div>
									</figure>
									<div class="mt-2 d-flex justify-content-center">
										<button class="btn btn-main editgraph d-none"> Edit Graph</button> &nbsp;
										@* <button class="btn btn-main-danger deletegraph"> Delete Graph</button> *@

									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="Addtable">
								<div class="add-box-table">
									<div class="row h-100">
										<div class="col-md-4 col-12 m-auto d-block">
											<button class="btn btn-lg btn-green w-100 display-1" id="CreateNewtable">Add Table</button>

											<input id="addtablefile" class="btn btn-lg btn-main w-100 d-block mt-3 py-2" type="file" />
										</div>
									</div>
								</div>
								<form id="tableForm" class="d-none">
									<div class="row ">
										<div class="col-12">
											<div class="add-box-form">
												<div class="row">

													<div class="col-12 d-flex align-items-center justify-content-between">
														<h3>Table Settings</h3>
														<button id="clearhtmltablefile" class="btn-sm btn btn-danger">Clear Table</button>
													</div>
													<div>
														<input class="form-check-input" type="checkbox" value="" id="makeGraph">
														<label class="form-check-label fw-bold text-dark" for="makeGraph">
															Generate Graph from CSV
														</label>
													</div>
													<div id="customizetable">
														<div class="row">
															<div class="col-md-4 col-12 form-group">
																<label for="TableName">Table Name</label>
																<input type="text" class="form-control" id="TableName" placeholder="Enter table name" required>
															</div>
															<div class="col-md-3 col-12 form-group">
																<label for="TableRows">Table Rows</label>
																<input type="number" class="form-control" id="TableRows" placeholder="Enter table rows" required>
															</div>
															<div class="col-md-3 col-12 form-group">
																<label for="TableColumns">Table Columns</label>
																<input type="number" class="form-control" id="TableColumns" placeholder="Enter table columns" required>
															</div>
															<div class="col-md-2 col-12 mt-auto">
																<button type="button" class="btn btn-main mt-auto ms-auto" id="GenerateTable">Generate Table</button>
															</div>
														</div>
													</div>
													<div class="col-md-12 col-12 mt-3 text-center">
														<div class="table-responsive" id="editable-table">
															<table class="table table-bordered">
																<thead class="">
																</thead>
																<tbody>
																</tbody>
															</table>
														</div>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-12">
						<div class="form-group">
							<label for="slugs" class="add-title mb-1">Select Slugs</label>
							<div class="custom-select-container">
								<select class="js-select2" id="SlugName" name="SlugName" multiple="multiple" data-dropdown-css-class="custom-select2-dropdown">
								</select>
								<i data-feather="chevron-down" class="dropdown-icon"></i>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="form-group">
							<label for="TagsCategories" class="add-title mb-1">Tags / Categories</label>
							<div class="custom-select-container">
								<select class="js-select2" id="TagName" name="TagName" multiple="multiple" data-dropdown-css-class="custom-select2-dropdown">
								</select>
								<i data-feather="chevron-down" class="dropdown-icon"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-12">
			<div class="right-side">
				<div class="row">
					<div class="col-12 text-center">
						<div class="add-title">News Collection</div>
					</div>
				</div>
				<div class="row my-2">
					<div class="col-12">
						<div class="accordion" id="NewsCollectionData">
							<!-- Dynamic Accordion Items will be populated here -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-12 ">
			<div class="actionbt-div">
				<div class="d-flex justify-content-center">
					<button type="button" id="btnSaveNews" class="btn btn-md btn-green">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--MoDAL-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Collection Information</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-12">
									<h4 class="text-primary collectionheading"></h4>
									<hr class="collectiondetailhr" />
									<p class="text-muted collectiondescription"></p>
								</div>
								<div class="col-md-12 collectioncontent">
									<p class="text-dark">Here is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can descriHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, beHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, bebe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this sectionHere is some content related to the collection. You can describe the features, benefits, or key aspects of the collection in this section.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img src="" alt="Collection Image" class="img-fluid rounded shadow collectionimage">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


@section BottomJS {
	<script src="~/assets/js/custom-js/SingleNews.js"></script>
	<script src="~/assets/vendors/summernote/summernote-lite.min.js"></script>
	<script src="~/assets/vendors/select2/select2.min.js"></script>
	<script src="~/assets/vendors/fonts/feather.min.js"></script>
	<script src="~/assets/vendors/highcharts/highcharts.js"></script>
	<script src="~/assets/vendors/highcharts/highcharts-more.js"></script>
	<script src="~/assets/vendors/highcharts/exporting.js"></script>
	<script src="~/assets/vendors/xlsx/xlsx.full.min.js"></script>
}
